body {
    color: white;
    background: rgb(157, 19, 221);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgba(6, 90, 139, 0.925);
    padding: 20px;
    font-size: 32px;
    color: rgb(162, 194, 236);
}

.chamada {
    background: rgb(184, 156, 213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
.chamada-texto h2 {
    color:rgb(125, 24, 219);
    border-radius: 10px;
    background-color: #f0ffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 25px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 20px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(2, 63, 2);
}

.categoria h2 {
    color: rgb(107, 159, 226);
}